<div class="wall-container">
    <mat-toolbar color="primary">
        <div fxLayoutAlign="space-between center" class="container">
            <div fxLayoutAlign="center center" fxLayoutGap="10px">
                <button *ngIf="mobileQuery.matches" mat-icon-button (click)="snav.toggle()">
                    <i *ngIf="!snav.opened" class="fas fa-bars fa-2x"></i>
                    <i *ngIf="snav.opened" class="fas fa-times fa-2x"></i>
                </button>
                <span>RGNL</span>
            </div>
            <div>
                <button (click)="signout()" mat-raised-button class="wave-effect px-2" color="accent">
                    <i class="fas fa-power-off"></i> Sign Out
                </button>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="container">
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [class.mobile]="mobileQuery.matches">
            <div fxLayout="column" fxLayoutAlign="center center">
                Welcome, {{user.FirstName}}! {{user.Email}}
                <img width="200px" [src]="user.PictureUrl || 'assets/default_profile.png'" />
            </div>

            <app-profile></app-profile>
        </mat-sidenav>
        <mat-sidenav-content fxFlex="1 1 auto" fxLayoutAlign="center start">
            <mat-tab-group fxFlex="1 1 auto" fxFlexFill>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-comments"></i>
                        Posts
                    </ng-template>
                    <app-posts fxFlex="1 1 auto" fxFlexFill></app-posts>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-users"></i>
                        Governments
                    </ng-template>
                    <app-govs fxFlex="1 1 auto" fxFlexFill></app-govs>
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>