.login-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 15%;
    height: auto;
    min-height: 400px;
}

mat-form-field {
    width: 100%;
}

mat-card-actions {
    margin: 0;
}

.social-login {

}

.btn-fb {
    background-color: #3b5998 !important;
    color: #fff;
}

.mat-card-header .mat-card-title {
    font-size: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    margin: -20px 0 -40px 0;
    width: 100px;
}