.posts-container {
    padding: 15px;
}
mat-form-field {
    width: 100%;
}
mat-card-actions {
    margin: 0;
    width: 100%;
}
button {
    min-width: 99px;
    width: 130px;
}
mat-card {
    width: auto;
}