.register-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 15%;
    height: auto;
    min-height: 400px;
}

mat-card-actions {
    margin: 0;
}

.names > mat-form-field {
    width: 45%;
}

.mat-card-header .mat-card-title {
    font-size: 30px;
}